/Gruntfile.js
/node_modules/
/temp_resources/

/bin/
/develop-eggs/
/downloads/
/eggs/
/eggs_old/
/local/
/parts/
/py27/
/share/
/src/
/var
/venv
/include/
/lib/
/lib64
/pip-selfcheck.json


/buildout.cfg
/uuid.txt
/.installed.cfg
/.mr.developer.cfg
/.idea
/.fleet
/.Python

*~
*.swp

.project
.pydevproject
.DS_Store
/.vscode
/.history
*.code-workspace
.python-version
.isort.cfg
pyvenv.cfg
